<div id="post">
<%= link("Preview", to: Routes.post_preview_path(@socket, :show, @post.id)) %>
<h2><%= @title %></h2>

<%= for {node, index} <- Enum.with_index(@post.body) do %>
  <%= render_node(@socket, index, node, assigns) %>
<% end %>
</div>
