<div id="post">
<%= link("Preview", to: Routes.post_preview_path(@socket, :show, @post.id)) %>
<h2><%= @title %></h2>

<%= for node <- @post.body do %>
  <%= render_node(@socket, node, assigns) %>
<% end %>
</div>
