<%= f = form_for @changeset, "#", id: "post-form", phx_submit: "initialize_post" %>
<div class="form-group">
<%= label f, :title %>
<%= text_input f, :title, class: "form-control form-control-lg" %>
<%= error_tag f, :title %>
</div>
<div class="form-group">
    <%= submit "Start", class: "btn btn-primary", phx_disable_with: "Setting up..." %>
</div>
