<%= f = form_for @image, "#", [phx_submit: :search, phx_target: @myself] %>
  <div class="form-group">
    <%= label f, :q, "Search" %>
    <%= text_input f, :q, class: "form-control", phx_hook: "AutoFocus" %>
    <%= error_tag f, :filename %>
  </div>
    <%= submit "Search", class: "btn btn-primary" %>
</form>

<%= live_component(@socket, SeanceWeb.PostLive.ImageCarouselComponent,
      images: @images,
      current_image_index: @current_image_index,
      id: :carousel
    )
  %>
