<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><%= link("Edit", to: Routes.post_new_path(@conn, :edit, @post.id)) %></li>
  <li class="list-group-item"><%= link("Show exportable Markdown", to: Routes.post_preview_path(@conn, :show, @post.id, markdown: true)) %></li>
</ul>

<div class="container">
<h1 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl mb-4"><%= @post.title %></h1>
<%= raw @preview %>
</div>
