@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.markdown-component{
  margin-bottom: 2rem;
}
.markdown-form {
  textarea {
    border: none;
    resize: none;
  }
}

.code-component{
  .filename {
    font-size: small;
    color: #5a6268;
  }
}
