@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-form {
  textarea {
    border: none;
    resize: none;
  }
}

.code-component{
  .filename {
    font-size: small;
    color: #5a6268;
  }
}
